:root {
  --primary-color: #6a0dad;
  --secondary-color: #f5f5f5;
  --background-color: #ffffff;
  --text-color: #333333;
  --accent-color: #d4af37;
}

[data-theme="dark"] {
  --primary-color: #d4af37;
  --secondary-color: #1e1e1e;
  --background-color: #121212;
  --text-color: #f5f5f5;
  --accent-color: #6a0dad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
}

body {
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

ul {
  width: 100%;
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  & li {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1);
    }
    & picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & img {
        border-radius: 50%;
        margin-bottom: 10px;
        aspect-ratio: 1/1;
        animation: float 2s infinite alternate;
      }
    }
  }
}

#mistery {
  display: flex;
  flex-direction: column;
  align-items: center;
  & fieldset {
    display: flex;
    flex-direction: column;
    &:first-child {
      flex-direction: row;
      justify-content: center;
      background-color: var(--text-color);
      border-radius: 1.75rem;
      overflow: hidden;
      & input[type="radio"] {
        display: none;
        &:checked + label {
          background-color: var(--accent-color);
          color: var(--background-color);
          font-weight: bold;
          cursor: pointer;
        }
      }
      label {
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        border-radius: 0;
        color: var(--background-color);
        transition: background-color 0.3s, color 0.3s;
      }
    }
    &:last-child {
      gap: 1rem;
      margin-top: 1rem;
      & input[type="text"] {
        padding: 0.5rem;
        border-bottom: 0.05rem solid var(--primary-color);
        background-color: var(--background-color);
        color: var(--text-color);
        font-weight: bold;
        outline: none;
        transition: background-color 0.3s, color 0.3s;
        &:focus {
          background-color: var(--primary-color);
          color: var(--background-color);
        }
      }
      & button {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: 0.05rem solid transparent;
        background-color: var(--primary-color);
        color: var(--background-color);
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          color: var(--primary-color);
          background-color: transparent;
          border-color: var(--primary-color);
        }
      }
    }
  }
}

#history {
  background-color: var(--primary-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  max-height: 90vh;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.75rem var(--transparent);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  gap: 1rem;
  &::-webkit-scrollbar {
    display: none;
  }
  &[open] {
    padding: 1rem;
    animation: aparecer 0.3s ease-out forwards;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    &::backdrop {
      animation: fondo-aparecer 0.3s ease-out forwards;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &::backdrop {
    background-color: var(--transparent);
    backdrop-filter: blur(0.25rem);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  &.cerrar {
    animation: desaparecer 0.3s ease-in forwards;
    &::backdrop {
      animation: fondo-desaparecer 0.3s ease-in forwards;
    }
  }
  @media (max-width: 768px) {
    max-width: 95%;
    max-height: 80vh;
    padding: 1rem;
  }
  & article {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    flex: 1;
    height: 100%;
    background-color: #121212;
    & #system {
      background-color: var(--primary-color);
      color: var(--background-color);
      text-align: left;
      font-family: monospace;
      padding: 0.5rem;
      position: relative;
      min-height: 1rem;
      min-width: 50%;
      font-size: 1rem;
      align-self: start;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 0.1rem;
        background-color: var(--background-color);
        margin-left: 0.5rem;
        top: 0;
        animation: fondo-aparecer 1s infinite ease-in-out;
      }
    }
    & #character {
      background-color: var(--accent-color);
      color: var(--background-color);
      text-align: right;
      font-family: sans-serif;
      padding: 0.5rem;
      position: relative;
      min-height: 1rem;
      font-size: 1rem;
      align-self: end;
      min-width: 50%;
      direction: rtl;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 0.1rem;
        background-color: var(--background-color);
        margin-left: 0.5rem;
        content: "";
        position: absolute;
        height: 100%;
        width: 0.1rem;
        background-color: var(--background-color);
        margin-left: 0.5rem;
        top: 0;
        animation: fondo-aparecer 1s infinite ease-in-out;
      }
    }
    & #dialog {
      background-color: var(--secondary-color);
      color: var(--text-color);
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      max-height: 75%;
      flex: 1;
      overflow-y: auto;
      scrollbar-width: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    & #choices {
      align-self: center;
      background-color: #6a0dad;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      & input[type="radio"] {
        display: none;
        &:checked + label {
          background-color: var(--accent-color);
          color: var(--background-color);
          font-weight: bold;
          cursor: pointer;
        }
      }
      & label {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: 0.05rem solid transparent;
        background-color: var(--primary-color);
        color: var(--background-color);
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--secondary-color);
          background-color: transparent;
          border-color: var(--secondary-color);
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fondo-aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}

@keyframes fondo-desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
